.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;  */
    /* margin-left: 30%; */
    margin-top: 200px;
    width: 520px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #C0D9E8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    
  }

  .Container{
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 700px;
    
  }
  
  .adminbt {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(63, 35, 5, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
  }
  
  img {
    width: 250px;
    height: 125.217px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: lightgray 50% / cover no-repeat;
    
  }
  
  .loginbut {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 100px;
    /* border: 1px solid #000; */
    background: #C7B3E1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    margin: 20px;
    
  }

  .forgotP{
    align-items:center;
    align-content: center;
    margin: 20px;
  }

  .buttonContainer{
    align-items:center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .inputMain{align-items:center;
    align-content: center;
    display: flex;
    flex-direction: column;
justify-content: space-around;
margin: 20px;}

.inputStyle{width: 250px;
height: 30px;
margin: 20px;
border-radius: 30px;}